img{
 margin:auto;

}
body{
  background-color: skyblue;
}
* {
  box-sizing: border-box;

}
h1 {
  display:inline-block;
  margin-top:5px;

}
#title{
  width:100%;
  text-align: center;

}
#pre-title {
  font-size:30px;
  color:navy;
  text-align: center;
  margin-bottom: 10px;
}
#games {
  font-size:100px;
  color:red;
  text-shadow:4px 4px 1px grey;
}
#four {
  font-size:100px;
  color:green;
  text-shadow:4px 4px 1px grey;
}
#kids {
  font-size:100px;
  color:blue;
  text-shadow:4px 4px 1px grey;
}
.column{
  width:calc(50% - 2px);
  height:100%;
  display:inline-block;
  position: relative;
}
.column > div{
  flex-direction:column;
  justify-content: center;
  align-items: center;
  display:flex;
  height:100%;
  width:100%;
}
.column a{
  margin:10px;
   display:inline-block;
}
#wrapper{
 position:fixed;
 left:0;
 right:0;
 top:0;
 bottom:0;

}
